<div class="card text-bg-dark">
    <div class="card-body">
        <h2 class="featCat">
            <a href="/category{{this.id}}/" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{this.name}}</a>
        </h2>
    </div>
</div>