<div class="card text-bg-dark">
  <img class="hero img-fluid" src="{{data.image}}" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">{{data.name}}</h5>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each data.products}}
    <div class="col">
      {{>catalog}}
      {{>addCart}}
    </div>
  {{/each}}
</div>