<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Import CSS Styles --}}
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/miami.css">
    <title>{{title}}</title>
</head>
<body>
    {{! include a partial !}}
    {{>nav siteName="Miami Travel Site" date="2024/10/03"}}
    {{!default placeholder for handlebars}}
    <div class="container"> 
        {{{body}}}

        {{>gallery}}
    </div>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>